
body {
    font-family: Arial, sans-serif;
    margin: 20px;
    color: #46133a;
    background-color: antiquewhite;
}

header {
    text-align: start;
}

header img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

#skills {
    display: none;
}

#toggle-skills {
    background-color: #4CAF50;
    color: #eb0e0e;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#toggle-skills:hover {
    background-color: #000000;
}
